{%extends "layout.twig"%}

{%block content %}
    <div class="alert alert-danger" role="alert">
        {{responseMessage}}
    </div>
    <h4> Ingreso de Jobs </h4>

    <div class="row d-flex justify-content-between">

        <div class="col-xs-5">
            <form action="/cursoPHP/job/add/" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="title-jobs">title</label>
                    <input type="text" id="title-jobs" name="title-jobs" class="form-control" placeholder="Ingrese titulo" />
                </div>
                <div class="form-group">
                    <label for="description-jobs">description</label>
                    <input type="text" id="description-jobs" name="description-jobs" class="form-control" placeholder="Ingrese description" />
                </div>
                <div class="form-group">
                    <label for="visible-jobs">visible</label>
                    <input type="text" id="visible-jobs" name="visible-jobs" class="form-control" placeholder="Ingrese visible" />
                </div>
                <div class="form-group">
                    <label for="months-jobs">months</label>
                    <input type="text" id="months-jobs" name="months-jobs" class="form-control" placeholder="Ingrese months" />
                </div>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file-jobs" id="validatedCustomFile" required>
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                </div>

                <input type="submit" value="Guardar">
            </form>
        </div>


        <div class="col-xs-5">
            <ul class="list-group">
                {% for job in jobs %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span 
                            {% if not job.visible %} style="text-decoration: line-through;" {% endif %}
                            >
                            {{ job.title }}
                        </span>
                        <span>
                            {% if job.visible %}
                                <a href="/cursoPHP/job/uncheck/{{ job.id }}" ><i class="far fa-check-square" style="color:green;" ></i></a>
                                {% else %}
                                <a href="/cursoPHP/job/check/{{ job.id }}" ><i class="far fa-square" style="color:black;" ></i></a>
                                {% endif %}
                            <a href="/cursoPHP/job/delete/{{ job.id }}" ><i class="fas fa-trash-alt" style="color:red;" ></i></a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}
